[Unit]
Description=MRAS Backend-Client API
[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=python3 /home/pi/mras/mrasclient/API/api.py

[Install]
WantedBy=multi-user.target